0871/Original-Submission/precompiler/examples/skip.dtd

<!--  Although our xml parser does not use
  dtd's this is what the DTD (document type declaration)
  of the skip configuration file would look like  -->

<!ELEMENT skip ( (function,variable) | function | variable ) >
<!ATTLIST skip name CDATA #IMPLIED >

<!ELEMENT function >
<!ATTLIST function name CDATA #REQUIRED >

<!ELEMENT variable >
<!ATTLIST variable name CDATA #REQUIRED >
